# Node
node_modules
npm-debug.log
yarn-error.log

# Expo
.expo
.expo-shared
dist/

# Native builds
android/build
android/.gradle
android/app/build
ios/build
ios/Pods

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.ipa

# Environment
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Misc
*.log
coverage
